.ContentContainer {
    margin: auto;
    margin-top: 75px;
}
.loginContainer{
    margin: auto;
    width: 45%;
    background-color: #123c76 !important;
    border-radius: 5px;
    color: white;
    padding: 15px;
}
.loginContainer li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    text-align: center;
    color: white;
}

.middleContainter {
    width: 100%;
    height: auto;
    min-height: 300px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}