nav {
    width: 100vw;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 3px -3px gray;
    z-index: 9999 !important;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
}
nav li {
    color: black;
    list-style-type: none;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 600;
    transition: 0.3s;
}

nav li:hover {
    color: gray;
}

nav ul a {
    text-decoration-line: none;
    color: black;
}


nav .logo {
    width: 200px;
    position: absolute;
    top: 32px;
    left: 100px;
}

nav .loginLink {
    position: absolute;
    right: 0px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    background-color: rgb(18,60,118);
    transition: 0.3s;
}
nav .loginLink:hover {
    background-color: #147FA1;
    color: white;
}

footer {
    width: 100%;
    background-color: rgb(18,60,118);
    color: white;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0px;
    margin-bottom: 25px;
}

footer .logo-footer {
    width: 200px;
}
footer #logo-list {
    list-style-type: none;
}
footer .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mini-footer {
    background-color: #147FA1;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: white;
}