body {
  background: rgb(7,2,105);
  background: linear-gradient(236deg, rgba(7,2,105,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#root {
  display: flex;
  justify-content: center;
}
.ChatContent input{
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
.ContentContainer {
  background-color: azure;
  padding: 10px 15px 10px 15px;
  width: 20%;
  border-radius: 5px;
}
.ChatBoxContainer {
  background-color: white;
  width: 100%;
  height: auto;
  min-height: 200px;
  border: 1px solid gray;
  margin-top: 5px;
  margin-bottom: 5px;
}